node_modules
temp
build
dist
.DS_Store
package.ts
.env
tmp.fc
tep-vault-doc.pdf

# VS Code
.vscode/*
.history/
*.vsix

# IDEA files
.idea

# VIM
Session.vim
.vim/

# Other private editor folders
.nvim/
.emacs/
.helix/
